@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  font-family: "Cabin", sans-serif;
  font-family: "Lobster", sans-serif;
}

nav .navbar-brand {
  font: normal 22px/26px Lobster;
  font-size: 37px;
  text-align: center;
  margin-left: 37px;
}

.carousel-item img {
  max-height: 200px;
  margin: auto;
}

.card-title {
  font: normal bold 22px/26px Cabin;
  font-size: 25px;
}

.card-text {
  font: normal 22px/26px Cabin;
  font-size: 16px;
}

.card-body a {
  font: normal bold 22px/26px Cabin;
  font-size: 13px;
  color: #373a3c;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.ingredientes,
.preparacion {
  border-bottom: 1px solid #000;
  width: 100%;
  display: inline-block;
}

.default_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-section {
  text-align: center;
  color: white;
}

.footer-section-1 {
  background-color: #dc3545;
  height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section-2 {
  background-color: #373a3c;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text-1,
.footer-text-2 {
  margin-bottom: 20px;
}

.footer-text-1 {
  font: normal bold 22px/26px Cabin;
  font-size: 40px;
  line-height: normal;
}

.footer-text-2 {
  font: normal light 22px/26px Cabin;
  font-size: 30px;
}

.footer-text-3 {
  font: normal 22px/26px Lobster;
  font-size: 37px;
}
.ricomida-text {
  font: normal 22px/26px Lobster;
  font-size: 30px;
}

footer button {
  width: 233px;
  height: 40px;
  background-color: #dc3545;
  color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .footer-section {
    height: 427;
  }
}

@media (min-width: 992px) {
  #text-principal {
    font-size: 40px;
    line-height: normal;
    text-align: left;
  }

  .font-weight-bold {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .custon_center{
    text-align: center;
  }
}
